/build
/app/build
/app/google-services.json

/publisher

/functions/__pycache__
/functions/venv
/functions/.idea
/functions/admin.json
/functions/ui-debug.log

/.gradle
/.idea

database-debug.log
database_rules.json
firebase.json
firebase-debug.log
local.properties
ui-debug.log
.firebaserc
*.iml